<a href="https://colab.research.google.com/github/pammyyAnn/ACTIVITY_18/blob/main/Activity18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/FINAL_ACT1_PAM/CalIt2.csv'
df = pd.read_csv(filename)

In [4]:
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [5]:
df.columns = ['Flow_ID', 'Date', 'Time', 'Count']

In [6]:
df.head()

   Flow_ID      Date      Time  Count
0        9  07/24/05  00:00:00      0
1        7  07/24/05  00:30:00      1
2        9  07/24/05  00:30:00      0
3        7  07/24/05  01:00:00      0
4        9  07/24/05  01:00:00      0

In [8]:
selected_data = df[(df['Date'] == '07/24/05') & (df['Flow_ID'] == 9)]
print("Selected data:")
print(selected_data)

Selected data:
    Flow_ID      Date      Time  Count
0         9  07/24/05  00:00:00      0
2         9  07/24/05  00:30:00      0
4         9  07/24/05  01:00:00      0
6         9  07/24/05  01:30:00      0
8         9  07/24/05  02:00:00      0
10        9  07/24/05  02:30:00      0
12        9  07/24/05  03:00:00      0
14        9  07/24/05  03:30:00      0
16        9  07/24/05  04:00:00      0
18        9  07/24/05  04:30:00      0
20        9  07/24/05  05:00:00      0
22        9  07/24/05  05:30:00      0
24        9  07/24/05  06:00:00      0
26        9  07/24/05  06:30:00      0
28        9  07/24/05  07:00:00      0
30        9  07/24/05  07:30:00      3
32        9  07/24/05  08:00:00      0
34        9  07/24/05  08:30:00      0
36        9  07/24/05  09:00:00      1
38        9  07/24/05  09:30:00      1
40        9  07/24/05  10:00:00      0
42        9  07/24/05  10:30:00      0
44        9  07/24/05  11:00:00      0
46        9  07/24/05  11:30:00      0
48        9  07/24/05  12:00:00      0
50        9  07/24/05  12:30:00      0
52        9  07/24/05  13:00:00      0
54        9  07/24/05  13:30:00      0
56        9  07/24/05  14:00:00      0
58        9  07/24/05  14:30:00      0
60        9  07/24/05  15:00:00      0
62        9  07/24/05  15:30:00      2
64        9  07/24/05  16:00:00      0
66        9  07/24/05  16:30:00      1
68        9  07/24/05  17:00:00      1
70        9  07/24/05  17:30:00      1
72        9  07/24/05  18:00:00      4
74        9  07/24/05  18:30:00      0
76        9  07/24/05  19:00:00      0
78        9  07/24/05  19:30:00      2
80        9  07/24/05  20:00:00      0
82        9  07/24/05  20:30:00      0
84        9  07/24/05  21:00:00      0
86        9  07/24/05  21:30:00      0
88        9  07/24/05  22:00:00      0
90        9  07/24/05  22:30:00      0
92        9  07/24/05  23:00:00      0
94        9  07/24/05  23:30:00      0

In [9]:
top5 = selected_data.sort_values('Count', ascending=False).head(5)
print("\nTop 5 rows:")
print(top5)

Top 5 rows:
    Flow_ID      Date      Time  Count
72        9  07/24/05  18:00:00      4
30        9  07/24/05  07:30:00      3
62        9  07/24/05  15:30:00      2
78        9  07/24/05  19:30:00      2
70        9  07/24/05  17:30:00      1

In [10]:
lowest_value = top5['Count'].min()
top5['Adjusted_Count'] = top5['Count'].apply(lambda x: x - lowest_value)
average_count = top5['Adjusted_Count'].mean()
print("\nAverage adjusted count:")
print(average_count)

Average adjusted count:
1.4

In [11]:
lowest_value = top5['Count'].min()
top5['Adjusted_Count'] = top5['Count'].apply(lambda x: x - lowest_value)
average_count = top5['Adjusted_Count'].mean()
print("\nAverage adjusted count:")
print(average_count)

Average adjusted count:
1.4

In [12]:
july_data = df[(df['Date'].str.startswith('08/')) & (df['Flow_ID'] == 7)]
print("\nJuly data:")
print(july_data)

July data:
      Flow_ID      Date      Time  Count
767         7  08/01/05  00:00:00      1
769         7  08/01/05  00:30:00      0
771         7  08/01/05  01:00:00      0
773         7  08/01/05  01:30:00      0
775         7  08/01/05  02:00:00      0
...       ...       ...       ...    ...
3733        7  08/31/05  21:30:00      0
3735        7  08/31/05  22:00:00      2
3737        7  08/31/05  22:30:00      1
3739        7  08/31/05  23:00:00      0
3741        7  08/31/05  23:30:00      2

[1488 rows x 4 columns]

In [13]:
max_count_per_date = july_data.groupby('Date')['Count'].max()
print("\nMaximum count per date:")
print(max_count_per_date)

Maximum count per date:
Date
08/01/05    18
08/02/05    16
08/03/05    26
08/04/05    40
08/05/05    17
08/06/05     8
08/07/05     3
08/08/05    16
08/09/05    19
08/10/05    25
08/11/05    16
08/12/05    21
08/13/05     5
08/14/05     3
08/15/05    17
08/16/05    24
08/17/05    22
08/18/05    39
08/19/05    23
08/20/05     3
08/21/05     4
08/22/05    23
08/23/05    25
08/24/05    17
08/25/05    24
08/26/05    22
08/27/05     3
08/28/05     7
08/29/05    15
08/30/05    47
08/31/05    19
Name: Count, dtype: int64